/target

# Secrets
.env
.envrc

# Local configuration
config/local.toml
config/*.local.toml
config/*.secret.toml

# DB
*.db
*.wal

# Cache directories
cache/
.cache/

# Temporary files
*.tmp
*.bak
*.txt
*.log

# Local test data
test-data/
*.parquet
*.json.gz
*.info
*.py
*.xml
*.diff
*.csv
*.geojson
*.jsonl
*.duckdb
*.sql
