 account                                      | user_type | groups | publishers | subscribers | device   | location | cyoa_type  | client_ip    | dz_ip        | tunnel_id | tunnel_net     | status    | owner
 J2MUYJeJvTfrHpxMm3tVYkcDhTwgAFFju2veS27WhByX | IBRL      |        |            |             | ny5-dz01 | New York | GREOverDIA | {{.ClientIP}} | {{.ClientIP}} | 500       | 169.254.0.0/31 | activated | {{.ClientPubkeyAddress}}
