 Tunnel Status | Last Session Update | Tunnel Name | Tunnel Src | Tunnel Dst | Doublezero IP | User Type | Reconciler | Tenant | Current Device | Lowest Latency Device | Metro | Network
 disconnected  |                     |             |            |            |               |           | {{.Reconciler}}       |        | N/A            | N/A                   | N/A   | localnet
