 Tunnel Status | Last Session Update     | Tunnel Name | Tunnel Src    | Tunnel Dst  | Doublezero IP | User Type | Reconciler | Tenant | Current Device | Lowest Latency Device | Metro    | Network
 BGP Session Up | 2025-10-14 17:59:41 UTC | doublezero0 | {{.ClientIP}} | {{.DeviceIP}} | {{.ClientIP}} | IBRL      | true       |        | ny5-dz01       | ✅ ny5-dz01           | New York | localnet
