!
logging buffered 128000
no logging console
logging facility local7
!
ip name-server vrf mgmt 1.1.1.1
ip name-server vrf mgmt 9.9.9.9
clock timezone UTC
!
ip multicast-routing
!
router pim sparse-mode
   ipv4
      rp address 10.0.0.0 233.84.178.0/24 override
!
vrf instance vrf1
ip routing
ip routing vrf vrf1
!
ntp server vrf mgmt 0.pool.ntp.org
ntp server vrf mgmt 1.pool.ntp.org
ntp server vrf mgmt 2.pool.ntp.org
!
no ip access-list MAIN-CONTROL-PLANE-ACL
ip access-list MAIN-CONTROL-PLANE-ACL
   counters per-entry
   10 permit icmp any any
   20 permit ip any any tracked
   30 permit udp any any eq bfd ttl eq 255
   40 permit udp any any eq bfd-echo ttl eq 254
   50 permit udp any any eq multihop-bfd micro-bfd sbfd
   60 permit udp any eq sbfd any eq sbfd-initiator
   70 permit ospf any any
   80 permit tcp any any eq ssh telnet www snmp bgp https msdp ldp netconf-ssh gnmi
   90 permit udp any any eq bootps bootpc snmp rip ntp ldp ptp-event ptp-general
   100 permit tcp any any eq mlag ttl eq 255
   110 permit udp any any eq mlag ttl eq 255
   120 permit vrrp any any
   130 permit ahp any any
   140 permit pim any any
   150 permit igmp any any
   160 permit tcp any any range 5900 5910
   170 permit tcp any any range 50000 50100
   180 permit udp any any range 51000 51100
   190 permit tcp any any eq 3333
   200 permit tcp any any eq nat ttl eq 255
   210 permit tcp any eq bgp any
   220 permit rsvp any any
   230 permit tcp any any eq 9340
   240 permit tcp any any eq 9559
   250 permit udp any any eq 8503
   260 permit udp any any eq lsp-ping
   270 permit udp any eq lsp-ping any
   280 remark Permit TWAMP (UDP 862)
   290 permit udp any any eq 862
!
system control-plane
   ip access-group MAIN-CONTROL-PLANE-ACL in
!
interface Ethernet2
   mtu 2048
   no switchport
   ip address {{.Ethernet2IP}}
   pim ipv4 sparse-mode
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric 40000
   no isis passive
   isis hello padding
   isis network point-to-point
!
interface Ethernet4
   mtu 2048
   no switchport
   ip address {{.Ethernet4IP}}
   pim ipv4 sparse-mode
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric 500000
   no isis passive
   isis hello padding
   isis network point-to-point
!
interface Ethernet5
   mtu 2048
   no switchport
   ip address {{.Ethernet5IP}}
   pim ipv4 sparse-mode
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric 1000000
   no isis passive
   isis hello padding
   isis network point-to-point
!
interface Ethernet6
   mtu 2048
   no switchport
   ip address {{.Ethernet6IP}}
   pim ipv4 sparse-mode
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric 8000
   isis passive
   isis hello padding
   isis network point-to-point
!
interface Loopback255
   ip address {{.Loopback255IP}}
   node-segment ipv4 index {{.NodeSegmentIndex}}
   isis enable 1
!
interface Loopback256
   ip address {{.Loopback256IP}}
   isis enable 1
!
interface Vlan4001
   mtu 2048
   ip address {{.Vlan4001IP}}
   pim ipv4 sparse-mode
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric 30000
   no isis passive
   isis hello padding
   isis network point-to-point
!
interface Loopback1000
   description RP Address
   ip address 10.0.0.0/32
!
mpls ip
!
mpls icmp ttl-exceeded tunneling
mpls icmp ip source-interface Loopback255
!
{{- range $i := seq .StartTunnel .EndTunnel}}
default interface Tunnel{{$i}}
{{- end}}
interface Tunnel500
   description USER-UCAST-500
   vrf vrf1
   mtu 9216
   ip address 169.254.0.0/31
   tunnel mode gre
   tunnel source {{.DeviceIP}}
   tunnel destination {{.ClientIP}}
   tunnel path-mtu-discovery
   tunnel ttl 32
   no shutdown
!
router bgp 65342
   router-id {{.Loopback255IPOnly}}
   timers bgp 1 3
   distance bgp 20 200 200
   no neighbor {{index .PeerIpv4 "ty2-dz01"}}
   neighbor {{index .PeerIpv4 "ty2-dz01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "ty2-dz01"}} next-hop-self
   neighbor {{index .PeerIpv4 "ty2-dz01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "ty2-dz01"}} description ty2-dz01-ipv4
   neighbor {{index .PeerIpv4 "ty2-dz01"}} timers 3 9
   neighbor {{index .PeerIpv4 "ty2-dz01"}} send-community
   no neighbor {{index .PeerIpv4 "ld4-dz01"}}
   neighbor {{index .PeerIpv4 "ld4-dz01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "ld4-dz01"}} next-hop-self
   neighbor {{index .PeerIpv4 "ld4-dz01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "ld4-dz01"}} description ld4-dz01-ipv4
   neighbor {{index .PeerIpv4 "ld4-dz01"}} timers 3 9
   neighbor {{index .PeerIpv4 "ld4-dz01"}} send-community
   no neighbor {{index .PeerIpv4 "la2-dz01"}}
   neighbor {{index .PeerIpv4 "la2-dz01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "la2-dz01"}} next-hop-self
   neighbor {{index .PeerIpv4 "la2-dz01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "la2-dz01"}} description la2-dz01-ipv4
   neighbor {{index .PeerIpv4 "la2-dz01"}} timers 3 9
   neighbor {{index .PeerIpv4 "la2-dz01"}} send-community
   no neighbor {{index .PeerIpv4 "sg1-dz01"}}
   neighbor {{index .PeerIpv4 "sg1-dz01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "sg1-dz01"}} next-hop-self
   neighbor {{index .PeerIpv4 "sg1-dz01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "sg1-dz01"}} description sg1-dz01-ipv4
   neighbor {{index .PeerIpv4 "sg1-dz01"}} timers 3 9
   neighbor {{index .PeerIpv4 "sg1-dz01"}} send-community
   no neighbor {{index .PeerIpv4 "ams-dz001"}}
   neighbor {{index .PeerIpv4 "ams-dz001"}} remote-as 65342
   neighbor {{index .PeerIpv4 "ams-dz001"}} next-hop-self
   neighbor {{index .PeerIpv4 "ams-dz001"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "ams-dz001"}} description ams-dz001-ipv4
   neighbor {{index .PeerIpv4 "ams-dz001"}} timers 3 9
   neighbor {{index .PeerIpv4 "ams-dz001"}} send-community
   no neighbor {{index .PeerIpv4 "frk-dz01"}}
   neighbor {{index .PeerIpv4 "frk-dz01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "frk-dz01"}} next-hop-self
   neighbor {{index .PeerIpv4 "frk-dz01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "frk-dz01"}} description frk-dz01-ipv4
   neighbor {{index .PeerIpv4 "frk-dz01"}} timers 3 9
   neighbor {{index .PeerIpv4 "frk-dz01"}} send-community
   no neighbor {{index .PeerIpv4 "pit-dzd01"}}
   neighbor {{index .PeerIpv4 "pit-dzd01"}} remote-as 65342
   neighbor {{index .PeerIpv4 "pit-dzd01"}} next-hop-self
   neighbor {{index .PeerIpv4 "pit-dzd01"}} update-source Loopback256
   neighbor {{index .PeerIpv4 "pit-dzd01"}} description pit-dzd01-ipv4
   neighbor {{index .PeerIpv4 "pit-dzd01"}} timers 3 9
   neighbor {{index .PeerIpv4 "pit-dzd01"}} send-community
   no neighbor {{index .PeerVpnv4 "ty2-dz01"}}
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} description ty2-dz01-vpnv4
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "ty2-dz01"}} send-community
   no neighbor {{index .PeerVpnv4 "ld4-dz01"}}
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} description ld4-dz01-vpnv4
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "ld4-dz01"}} send-community
   no neighbor {{index .PeerVpnv4 "la2-dz01"}}
   neighbor {{index .PeerVpnv4 "la2-dz01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "la2-dz01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "la2-dz01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "la2-dz01"}} description la2-dz01-vpnv4
   neighbor {{index .PeerVpnv4 "la2-dz01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "la2-dz01"}} send-community
   no neighbor {{index .PeerVpnv4 "sg1-dz01"}}
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} description sg1-dz01-vpnv4
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "sg1-dz01"}} send-community
   no neighbor {{index .PeerVpnv4 "ams-dz001"}}
   neighbor {{index .PeerVpnv4 "ams-dz001"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "ams-dz001"}} next-hop-self
   neighbor {{index .PeerVpnv4 "ams-dz001"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "ams-dz001"}} description ams-dz001-vpnv4
   neighbor {{index .PeerVpnv4 "ams-dz001"}} timers 3 9
   neighbor {{index .PeerVpnv4 "ams-dz001"}} send-community
   no neighbor {{index .PeerVpnv4 "frk-dz01"}}
   neighbor {{index .PeerVpnv4 "frk-dz01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "frk-dz01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "frk-dz01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "frk-dz01"}} description frk-dz01-vpnv4
   neighbor {{index .PeerVpnv4 "frk-dz01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "frk-dz01"}} send-community
   no neighbor {{index .PeerVpnv4 "pit-dzd01"}}
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} remote-as 65342
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} next-hop-self
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} update-source Loopback255
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} description pit-dzd01-vpnv4
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} timers 3 9
   neighbor {{index .PeerVpnv4 "pit-dzd01"}} send-community
   address-family ipv4
      neighbor {{index .PeerIpv4 "ty2-dz01"}} activate
      neighbor {{index .PeerIpv4 "ld4-dz01"}} activate
      neighbor {{index .PeerIpv4 "la2-dz01"}} activate
      neighbor {{index .PeerIpv4 "sg1-dz01"}} activate
      neighbor {{index .PeerIpv4 "ams-dz001"}} activate
      neighbor {{index .PeerIpv4 "frk-dz01"}} activate
      neighbor {{index .PeerIpv4 "pit-dzd01"}} activate
      no neighbor {{index .PeerVpnv4 "ty2-dz01"}} activate
      no neighbor {{index .PeerVpnv4 "ld4-dz01"}} activate
      no neighbor {{index .PeerVpnv4 "la2-dz01"}} activate
      no neighbor {{index .PeerVpnv4 "sg1-dz01"}} activate
      no neighbor {{index .PeerVpnv4 "ams-dz001"}} activate
      no neighbor {{index .PeerVpnv4 "frk-dz01"}} activate
      no neighbor {{index .PeerVpnv4 "pit-dzd01"}} activate
   !
   address-family vpn-ipv4
      neighbor {{index .PeerVpnv4 "ty2-dz01"}} activate
      neighbor {{index .PeerVpnv4 "ld4-dz01"}} activate
      neighbor {{index .PeerVpnv4 "la2-dz01"}} activate
      neighbor {{index .PeerVpnv4 "sg1-dz01"}} activate
      neighbor {{index .PeerVpnv4 "ams-dz001"}} activate
      neighbor {{index .PeerVpnv4 "frk-dz01"}} activate
      neighbor {{index .PeerVpnv4 "pit-dzd01"}} activate
   !
   vrf vrf1
      rd 65342:1
      route-target import vpn-ipv4 65342:1
      route-target export vpn-ipv4 65342:1
      router-id {{.DeviceIP}}
      no neighbor 169.254.0.1
      neighbor 169.254.0.1 remote-as 65000
      neighbor 169.254.0.1 local-as 65342 no-prepend replace-as
      neighbor 169.254.0.1 passive
      neighbor 169.254.0.1 description USER-500
      neighbor 169.254.0.1 route-map RM-USER-500-IN in
      neighbor 169.254.0.1 route-map RM-USER-500-OUT out
      neighbor 169.254.0.1 maximum-routes 1
      neighbor 169.254.0.1 maximum-accepted-routes 1
!
router isis 1
   net {{.ISISNet}}
   router-id ipv4 {{.Loopback255IPOnly}}
   log-adjacency-changes
   !
   address-family ipv4 unicast
   !
   segment-routing mpls
      no shutdown
   no set-overload-bit
!
ip community-list COMM-ALL_USERS permit 21682:1200
ip community-list COMM-ALL_MCAST_USERS permit 21682:1300
ip community-list COMM-XEWR_USERS permit 21682:10001
!
no route-map RM-USER-500-OUT
route-map RM-USER-500-OUT deny 10
   match community COMM-XEWR_USERS
route-map RM-USER-500-OUT permit 20
   match community COMM-ALL_USERS
!
{{- range $i := seq (add .StartTunnel 1) .EndTunnel}}
no route-map RM-USER-{{$i}}-OUT
!
{{- end}}
no route-map RM-USER-500-IN
route-map RM-USER-500-IN permit 10
   match ip address prefix-list PL-USER-500
   match as-path length = 1
   set community 21682:1200 21682:10001
!
{{- range $i := seq (add .StartTunnel 1) .EndTunnel}}
no route-map RM-USER-{{$i}}-IN
!
{{- end}}
no ip prefix-list PL-USER-500
ip prefix-list PL-USER-500 seq 10 permit {{ .ClientIP }}/32
!
{{- range $i := seq (add .StartTunnel 1) .EndTunnel}}
no ip prefix-list PL-USER-{{$i}}
!
{{- end}}
no ip access-list SEC-USER-500-IN
ip access-list SEC-USER-500-IN
   counters per-entry
   !ICMP
   permit icmp 169.254.0.1/32 any
   !TRACEROUTE
   permit udp 169.254.0.1/32 any range 33434 33534
   !Allow TTL Exceeded for traceroute return packets
   permit icmp 169.254.0.1/32 any time-exceeded
   !PERMIT BGP
   permit tcp 169.254.0.1/32 169.254.0.0/32 eq 179
   !PERMIT USER DZ_IP as a source only
   permit ip {{ .ClientIP }}/32 any
   deny ip any any
!
{{- range $i := seq (add .StartTunnel 1) .EndTunnel}}
no ip access-list SEC-USER-{{$i}}-IN
{{- end}}
{{- range $i := seq .StartTunnel .EndTunnel}}
no ip access-list standard SEC-USER-MCAST-BOUNDARY-{{$i}}-OUT
{{- end}}
no ip access-list SEC-USER-PUB-MCAST-IN
ip access-list SEC-USER-PUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   permit ip any 233.84.178.0/24
   deny ip any any
!
no ip access-list SEC-USER-SUB-MCAST-IN
ip access-list SEC-USER-SUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   deny ip any any
!
no router msdp
router msdp
   peer {{index .PeerIpv4 "ty2-dz01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description ty2-dz01
   peer {{index .PeerIpv4 "ld4-dz01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description ld4-dz01
   peer {{index .PeerIpv4 "la2-dz01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description la2-dz01
   peer {{index .PeerIpv4 "sg1-dz01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description sg1-dz01
   peer {{index .PeerIpv4 "ams-dz001"}}
      mesh-group DZ-1
      local-interface Loopback256
      description ams-dz001
   peer {{index .PeerIpv4 "frk-dz01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description frk-dz01
   peer {{index .PeerIpv4 "pit-dzd01"}}
      mesh-group DZ-1
      local-interface Loopback256
      description pit-dzd01
