 account | tenant | user_type | groups | device   | location | cyoa_type  | client_ip    | dz_ip        | accesspass     | tunnel_id | tunnel_net     | status    | bgp_status | rtt | owner
 IGNORED |        | IBRL      |        | ny5-dz01 | New York | GREOverDIA | {{.ClientIP}} | {{.ClientIP}} | Prepaid: (MAX) | 1       | 169.254.0.0/31 | activated | unknown    | -   | {{.ClientPubkeyAddress}}
