!
hardware counter feature gre tunnel interface out
hardware counter feature gre tunnel interface in
!
hardware access-list update default-result permit
!
logging buffered 128000
no logging console
logging facility local7
!
ip name-server vrf default 1.1.1.1
ip name-server vrf default 9.9.9.9
clock timezone UTC
!
ip multicast-routing
!
router pim sparse-mode
   ipv4
      rp address 10.0.0.0 239.0.0.0/24 override
!
vrf instance vrf1
ip routing
ip routing vrf vrf1
!
ntp server 0.pool.ntp.org
ntp server 1.pool.ntp.org
ntp server 2.pool.ntp.org
!
hardware access-list update default-result permit
!
no ip access-list MAIN-CONTROL-PLANE-ACL
ip access-list MAIN-CONTROL-PLANE-ACL
   counters per-entry
   10 permit icmp any any
   20 permit ip any any tracked
   30 permit udp any any eq bfd ttl eq 255
   40 permit udp any any eq bfd-echo ttl eq 254
   50 permit udp any any eq multihop-bfd micro-bfd sbfd
   60 permit udp any eq sbfd any eq sbfd-initiator
   70 permit ospf any any
   80 permit tcp any any eq ssh telnet www snmp bgp https msdp ldp netconf-ssh gnmi
   90 permit udp any any eq bootps bootpc snmp rip ntp ldp ptp-event ptp-general
   100 permit tcp any any eq mlag ttl eq 255
   110 permit udp any any eq mlag ttl eq 255
   120 permit vrrp any any
   130 permit ahp any any
   140 permit pim any any
   150 permit igmp any any
   160 permit tcp any any range 5900 5910
   170 permit tcp any any range 50000 50100
   180 permit udp any any range 51000 51100
   190 permit tcp any any eq 3333
   200 permit tcp any any eq nat ttl eq 255
   210 permit tcp any eq bgp any
   220 permit rsvp any any
   230 permit tcp any any eq 9340
   240 permit tcp any any eq 9559
   250 permit udp any any eq 8503
   260 permit udp any any eq lsp-ping
   270 permit udp any eq lsp-ping any
   280 remark Permit TWAMP (UDP 862)
   290 permit udp any any eq 862
!
system control-plane
   ip access-group MAIN-CONTROL-PLANE-ACL in
!
interface Loopback255
   ip address 14.14.14.14/32
   node-segment ipv4 index 101
   isis enable 1
!
interface Loopback256
   ip address 12.12.12.12/32
   isis enable 1
!
interface Loopback1000
   description RP Address
   ip address 10.0.0.0/32
!
mpls ip
!
default interface Tunnel500
!
default interface Tunnel501
!
default interface Tunnel502
!
default interface Tunnel503
!
default interface Tunnel504
!
default interface Tunnel505
!
default interface Tunnel506
!
default interface Tunnel507
!
default interface Tunnel508
!
default interface Tunnel509
!
default interface Tunnel510
!
default interface Tunnel511
!
default interface Tunnel512
!
default interface Tunnel513
!
default interface Tunnel514
!
default interface Tunnel515
!
default interface Tunnel516
!
default interface Tunnel517
!
default interface Tunnel518
!
default interface Tunnel519
!
default interface Tunnel520
!
default interface Tunnel521
!
default interface Tunnel522
!
default interface Tunnel523
!
default interface Tunnel524
!
default interface Tunnel525
!
default interface Tunnel526
!
default interface Tunnel527
!
default interface Tunnel528
!
default interface Tunnel529
!
default interface Tunnel530
!
default interface Tunnel531
!
default interface Tunnel532
!
default interface Tunnel533
!
default interface Tunnel534
!
default interface Tunnel535
!
default interface Tunnel536
!
default interface Tunnel537
!
default interface Tunnel538
!
default interface Tunnel539
!
default interface Tunnel540
!
default interface Tunnel541
!
default interface Tunnel542
!
default interface Tunnel543
!
default interface Tunnel544
!
default interface Tunnel545
!
default interface Tunnel546
!
default interface Tunnel547
!
default interface Tunnel548
!
default interface Tunnel549
!
default interface Tunnel550
!
default interface Tunnel551
!
default interface Tunnel552
!
default interface Tunnel553
!
default interface Tunnel554
!
default interface Tunnel555
!
default interface Tunnel556
!
default interface Tunnel557
!
default interface Tunnel558
!
default interface Tunnel559
!
default interface Tunnel560
!
default interface Tunnel561
!
default interface Tunnel562
!
default interface Tunnel563
!
default interface Tunnel564
!
default interface Tunnel565
!
default interface Tunnel566
!
default interface Tunnel567
!
default interface Tunnel568
!
default interface Tunnel569
!
default interface Tunnel570
!
default interface Tunnel571
!
default interface Tunnel572
!
default interface Tunnel573
!
default interface Tunnel574
!
default interface Tunnel575
!
default interface Tunnel576
!
default interface Tunnel577
!
default interface Tunnel578
!
default interface Tunnel579
!
default interface Tunnel580
!
default interface Tunnel581
!
default interface Tunnel582
!
default interface Tunnel583
!
default interface Tunnel584
!
default interface Tunnel585
!
default interface Tunnel586
!
default interface Tunnel587
!
default interface Tunnel588
!
default interface Tunnel589
!
default interface Tunnel590
!
default interface Tunnel591
!
default interface Tunnel592
!
default interface Tunnel593
!
default interface Tunnel594
!
default interface Tunnel595
!
default interface Tunnel596
!
default interface Tunnel597
!
default interface Tunnel598
!
default interface Tunnel599
!
default interface Tunnel600
!
default interface Tunnel601
!
default interface Tunnel602
!
default interface Tunnel603
!
default interface Tunnel604
!
default interface Tunnel605
!
default interface Tunnel606
!
default interface Tunnel607
!
default interface Tunnel608
!
default interface Tunnel609
!
default interface Tunnel610
!
default interface Tunnel611
!
default interface Tunnel612
!
default interface Tunnel613
!
default interface Tunnel614
!
default interface Tunnel615
!
default interface Tunnel616
!
default interface Tunnel617
!
default interface Tunnel618
!
default interface Tunnel619
!
default interface Tunnel620
!
default interface Tunnel621
!
default interface Tunnel622
!
default interface Tunnel623
!
default interface Tunnel624
!
default interface Tunnel625
!
default interface Tunnel626
!
default interface Tunnel627
!
router bgp 65342
   router-id 14.14.14.14
   address-family ipv4
      no neighbor 172.16.0.1
      no neighbor 169.254.0.13
   !
   address-family vpn-ipv4
      no neighbor 172.16.0.1
      no neighbor 169.254.0.13
   !
   vrf vrf1
      rd 65342:1
      route-target import vpn-ipv4 65342:1
      route-target export vpn-ipv4 65342:1
      router-id 2.2.2.2
      no neighbor 172.16.0.1
      no neighbor 169.254.0.13
!
router isis 1
   net 49.0000.0e0e.0e0e.0000.00
   router-id ipv4 14.14.14.14
   log-adjacency-changes
   !
   address-family ipv4 unicast
   !
   segment-routing mpls
      no shutdown
!
ip community-list COMM-ALL_USERS permit 21682:1200
ip community-list COMM-ALL_MCAST_USERS permit 21682:1300
!
no route-map RM-USER-500-OUT
!
{{- range $i := seq 501 627}}
no route-map RM-USER-{{$i}}-OUT
!
{{- end}}
no route-map RM-USER-500-IN
!
{{- range $i := seq 501 627}}
no route-map RM-USER-{{$i}}-IN
!
{{- end}}
no ip prefix-list PL-USER-500
!
{{- range $i := seq 501 627}}
no ip prefix-list PL-USER-{{$i}}
!
{{- end}}
{{- range $i := seq 500 627}}
no ip access-list SEC-USER-{{$i}}-IN
{{- end}}
{{- range $i := seq 500 627}}
no ip access-list standard SEC-USER-MCAST-BOUNDARY-{{$i}}-OUT
{{- end}}
no ip access-list SEC-USER-PUB-MCAST-IN
ip access-list SEC-USER-PUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   permit ip any 239.0.0.0/24
   deny ip any any
!
no ip access-list SEC-USER-SUB-MCAST-IN
ip access-list SEC-USER-SUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   deny ip any any
!
