! Command: show running-config at line 1
! device: c902832ee90b (cEOSLab, EOS-4.33.1F-39879738.4331F (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$hb.8VFI7A9D/0zi2$sZady959HlXHgFdWU9r01VDwmbM2CrhDYIXBJzHb3scDP8/t/4ozwxpZbwEgDxbWL.mHYtie0rSO8fRSZ5D0T1
!
service configuration session commit merge
!
vrf instance vrf1
ip routing vrf vrf1
!
vrf instance management
ip routing vrf management
ip route vrf management 0.0.0.0/0 {{.DefaultNetworkGateway}}
ip name-server vrf management 8.8.8.8
!
daemon doublezero-agent
   exec /mnt/flash/start-config-agent.sh {{.AgentCommandArgs}}
   no shutdown
!
{{- if .TelemetryEnabled }}
daemon doublezero-telemetry
   exec /mnt/flash/doublezero-telemetry {{.TelemetryCommandArgs}}
   no shutdown
!
{{- end }}
ip access-list standard allow-all
   permit any
!
management api http-commands
   protocol http
   no shutdown
   vrf management
      ip access-group allow-all
      no shutdown
!
management api eos-sdk-rpc
   transport grpc foo
      localhost loopback vrf management
      service all
      no disabled
!
management api gnmi
   transport grpc gnmi
   vrf management
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
agent PowerManager shutdown
agent LedPolicy shutdown
agent Thermostat shutdown
agent PowerFuse shutdown
agent StandbyCpld shutdown
agent LicenseManager shutdown
!
hostname {{.Hostname}}
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
interface Loopback0
  vrf vrf1
  ip address 8.8.8.8/32
!
interface Ethernet1
   no switchport
   ip address {{.CYOANetworkIP}}/{{.CYOANetworkCIDRPrefix}}
!
interface Management0
   vrf management
   no shutdown
   ip address {{.DefaultNetworkIP}}/{{.DefaultNetworkCIDRPrefix}}
!
ip routing
!
router bgp 65342
   router-id 10.10.10.10
   vrf vrf1
     network 8.8.8.8/32 route-map e2e
!
router multicast
   ipv4
      software-forwarding sfe
   !
   ipv6
      software-forwarding kernel
!
route-map e2e permit 10
  set community 21682:1200
!
end
