! Command: show running-config at line 1
! device: c902832ee90b (cEOSLab, EOS-4.33.1F-39879738.4331F (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$hb.8VFI7A9D/0zi2$sZady959HlXHgFdWU9r01VDwmbM2CrhDYIXBJzHb3scDP8/t/4ozwxpZbwEgDxbWL.mHYtie0rSO8fRSZ5D0T1
!
service configuration session commit merge
!
vrf instance vrf1
ip routing vrf vrf1
!
{{- if .ManagementNS }}
vrf instance management
ip routing vrf management
ip route vrf management 0.0.0.0/0 {{.DefaultNetworkGateway}}
ip name-server vrf management 8.8.8.8
!
{{- end }}
daemon doublezero-agent
   exec /mnt/flash/start-config-agent.sh {{.ManagementNS}} {{.AgentCommandArgs}}
   no shutdown
!
{{- if .TelemetryEnabled }}
daemon doublezero-telemetry
   exec /mnt/flash/doublezero-telemetry {{.TelemetryCommandArgs}}
   no shutdown
!
{{- end }}
ip access-list standard allow-all
   permit any
!
management api http-commands
   protocol http
{{- if not .ManagementNS }}
   ip access-group allow-all
{{- end }}
   no shutdown
{{- if .ManagementNS }}
   vrf management
      ip access-group allow-all
      no shutdown
{{- end }}
!
management api eos-sdk-rpc
   transport grpc foo
      localhost loopback {{ if .ManagementNS }}vrf management{{ end }}
      service all
      no disabled
!
management api gnmi
   transport grpc gnmi
{{- if .ManagementNS }}
   vrf management
{{- end }}
!
ip access-list MAIN-CONTROL-PLANE-ACL-MGMT
   counters per-entry
   10 permit icmp any any
   20 permit ip any any tracked
   30 permit udp any any eq bfd ttl eq 255
   40 permit udp any any eq bfd-echo ttl eq 254
   50 permit udp any any eq multihop-bfd micro-bfd sbfd
   60 permit udp any eq sbfd any eq sbfd-initiator
   70 permit ospf any any
   80 permit tcp any any eq ssh telnet www snmp bgp https msdp ldp netconf-ssh gnmi
   90 permit udp any any eq bootps bootpc snmp rip ntp ldp ptp-event ptp-general
   100 permit tcp any any eq mlag ttl eq 255
   110 permit udp any any eq mlag ttl eq 255
   120 permit vrrp any any
   130 permit ahp any any
   140 permit pim any any
   150 permit igmp any any
   160 permit tcp any any range 5900 5910
   170 permit tcp any any range 50000 50100
   180 permit udp any any range 51000 51100
   190 permit tcp any any eq 3333
   200 permit tcp any any eq nat ttl eq 255
   210 permit tcp any eq bgp any
   220 permit rsvp any any
   230 permit tcp any any eq 9340
   240 permit tcp any any eq 9559
   250 permit udp any any eq 8503
   260 permit udp any any eq lsp-ping
   270 permit udp any eq lsp-ping any

   {{- if .TelemetryMetricsEnable }}
   990 remark Permit doublezero-telemetry prometheus metrics (TCP {{ .TelemetryMetricsPort }})
   999 permit tcp any any eq {{ .TelemetryMetricsPort }}
   {{- end }}
!
system control-plane
   ip access-group MAIN-CONTROL-PLANE-ACL-MGMT vrf management in
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
! Hardware agents (not present in cEOS)
agent PowerManager shutdown
agent LedPolicy shutdown
agent Thermostat shutdown
agent PowerFuse shutdown
agent StandbyCpld shutdown
agent LicenseManager shutdown
! Unused agents disabled to reduce memory (~1.4GB savings per device).
! NOTE: Do NOT disable PhyEthtool - it breaks the management namespace.
agent AirStream shutdown
agent AleOpenConfig shutdown
agent AleVirtualL3Uni shutdown
agent ArfaAegis shutdown
agent ArfaState shutdown
agent Bfd shutdown
agent BessMgr shutdown
agent CapiApp shutdown
agent Dot1x shutdown
agent IgmpSnooping shutdown
agent L1OpenConfig shutdown
agent L2Rib shutdown
agent LacpTxAgent shutdown
agent Lag shutdown
agent Lldp shutdown
agent Mpls shutdown
agent MplsEtba shutdown
agent MplsUtilLsp shutdown
agent Octa shutdown
agent PortSec shutdown
agent Qos shutdown
agent RecoveryPolicy shutdown
agent SharedSecretPro shutdown
agent Stp shutdown
agent StpTopology shutdown
agent StpTxRx shutdown
!
hostname {{.Hostname}}
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
interface Loopback0
  vrf vrf1
  ip address 8.8.8.8/32
!
interface Ethernet1
   no switchport
   ip address {{.CYOANetworkIP}}/{{.CYOANetworkCIDRPrefix}}
!
interface Management0
{{- if .ManagementNS }}
   vrf management
{{- end }}
   no shutdown
   ip address {{.DefaultNetworkIP}}/{{.DefaultNetworkCIDRPrefix}}
!
ip routing
!
router bgp 65342
   router-id 10.10.10.10
   vrf vrf1
     network 8.8.8.8/32 route-map e2e
!
router multicast
   ipv4
      software-forwarding sfe
   !
   ipv6
      software-forwarding kernel
!
route-map e2e permit 10
  set community 21682:1200
!
end
