 account                                      | user_type           | groups | device   | location    | cyoa_type  | client_ip     | dz_ip         | tunnel_id | tunnel_net      | status    | owner
 Do1iXv6tNMHRzF1yYHBcLNfNngCK6Yyr9izpLZc1rrwW | IBRL                |        | la2-dz01 | Los Angeles | GREOverDIA | 1.2.3.4       | 1.2.3.4       | 500       | 169.254.0.2/31  | activated | {{.ClientPubkeyAddress}}
 NR8fpCK7mqeFVJ3mUmhndX2JtRCymZzgQgGj5JNbGp8  | IBRL                |        | la2-dz01 | Los Angeles | GREOverDIA | 2.3.4.5       | 2.3.4.5       | 501       | 169.254.0.4/31  | activated | {{.ClientPubkeyAddress}}
 AA3fFZM1bJbNzCWhPydZrbQpswGkZx4PFhxd2bHaztyG | IBRL                |        | la2-dz01 | Los Angeles | GREOverDIA | 3.4.5.6       | 3.4.5.6       | 502       | 169.254.0.6/31  | activated | {{.ClientPubkeyAddress}}
 AwGXP4jLSFsjFdsY7zZtjuvXQfyet8F5XoTTUs19HxLa | IBRL                |        | la2-dz01 | Los Angeles | GREOverDIA | 4.5.6.7       | 4.5.6.7       | 503       | 169.254.0.8/31  | activated | {{.ClientPubkeyAddress}}
 73cGHjCmZ8Jr5nsViP3GyyEhXD8zQBzo5eRTkY9gxqjj | IBRL                |        | la2-dz01 | Los Angeles | GREOverDIA | 5.6.7.8       | 5.6.7.8       | 504       | 169.254.0.10/31 | activated | {{.ClientPubkeyAddress}}
 J2MUYJeJvTfrHpxMm3tVYkcDhTwgAFFju2veS27WhByX | IBRLWithAllocatedIP |        | ny5-dz01 | New York    | GREOverDIA | {{.ClientIP}} | {{.ExpectedAllocatedClientIP}} | 500       | 169.254.0.0/31  | activated | {{.ClientPubkeyAddress}}
