account     | code        | contributor | location | exchange | device_type | public_ip        | dz_prefixes                              | status    | owner              | bgp_asn | dia_bgp_asn | mgmt_vrf | dns_servers         | ntp_servers
IGNORED     | la2-dz01    | co01        | lax      | xlax     | switch      | 207.45.216.134   | 207.45.216.136/30, 200.12.12.12/29       | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | ty2-dz01    | co01        | tyo      | xtyo     | switch      | 180.87.154.112   | 180.87.154.112/29                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | ams-dz001   | co01        | ams      | xams     | switch      | 195.219.138.50   | 195.219.138.56/29                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | pit-dzd01   | co01        | pit      | xpit     | switch      | 204.16.241.243   | 204.16.243.243/32                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | frk-dz01    | co01        | fra      | xfra     | switch      | 195.219.220.88   | 195.219.220.88/29                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | sg1-dz01    | co01        | sin      | xsin     | switch      | 180.87.102.104   | 180.87.102.104/29                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | ny5-dz01    | co01        | ewr      | xewr     | switch      | {{.DeviceIP}}    | {{.DeviceIP}}/{{.DeviceAllocatablePrefix}}| activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
IGNORED     | ld4-dz01    | co01        | lhr      | xlhr     | switch      | 195.219.120.72   | 195.219.120.72/29                        | activated | {{.ManagerPubkey}} | 42      | 4242        | mgmt     | 8.8.8.8,8.8.4.4     | 1.2.3.4
