 Tunnel status | Last Session Update     | Tunnel Name | Tunnel src   | Tunnel dst   | Doublezero IP | User Type
 up            | 2025-06-03 19:40:58 UTC | doublezero0 | {{.ClientIP}} | {{.DeviceIP}} | {{.ClientIP}}  | IBRL
