 Tunnel status | Last Session Update     | Tunnel Name | Tunnel src   | Tunnel dst   | Doublezero IP | User Type
 up            | 2025-06-03 20:17:46 UTC | doublezero1 | {{.ClientIP}} | {{.DeviceIP}} |               | Multicast
