 account | code | multicast_ip | max_bandwidth | publishers | subscribers | status    | owner
 IGNORED | mg01 | 233.84.178.0 | 10Gbps        | 0          | 1           | activated | {{.ManagerPubkey}}
 IGNORED | mg02 | 233.84.178.1 | 10Gbps        | 0          | 1           | activated | {{.ManagerPubkey}}
