 account                                      | code | multicast_ip | max_bandwidth | publishers | subscribers | status    | owner
 EYojuw4Tb1J4V9bJt9rCC9MqHSDcLsDiQyFRnNXgbKDD | mg01 | 233.84.178.0 | 10Gbps        | 0          | 1           | activated | {{.ManagerPubkey}}
