prometheus.scrape "device_health_oracle" {
  targets = [
    {
      __address__ = "127.0.0.1:2112",
      component   = "device-health-oracle",
      env         = "devnet",
    },
  ]
  forward_to = [prometheus.remote_write.default.receiver]
  scrape_interval = "10s"
}

prometheus.remote_write "default" {
  endpoint {
    url = env("ALLOY_PROMETHEUS_URL")
  }
}
