{{- if not $.NoHardware -}}
!
hardware counter feature gre tunnel interface out
hardware counter feature gre tunnel interface in
!
hardware access-list update default-result permit
{{- end -}}
{{ if not $.NoHardware }}
{{ end }}!
logging buffered 128000
no logging console
logging facility local7
!
{{- if .Device.MgmtVrf }}
ip name-server vrf {{ .Device.MgmtVrf }} 1.1.1.1
ip name-server vrf {{ .Device.MgmtVrf }} 9.9.9.9
{{- else }}
ip name-server vrf default 1.1.1.1
ip name-server vrf default 9.9.9.9
{{- end }}
clock timezone UTC
!
ip multicast-routing
!
router pim sparse-mode
   ipv4
      rp address 10.0.0.0 {{ .MulticastGroupBlock }} override
!
{{- range .UnicastVrfs }}
vrf instance vrf{{ . }}
{{- end }}
ip routing
{{- range .UnicastVrfs }}
ip routing vrf vrf{{ . }}
{{- end }}
!
{{- if .Device.MgmtVrf }}
ntp server vrf {{ .Device.MgmtVrf }} 0.pool.ntp.org
ntp server vrf {{ .Device.MgmtVrf }} 1.pool.ntp.org
ntp server vrf {{ .Device.MgmtVrf }} 2.pool.ntp.org
{{- else }}
ntp server 0.pool.ntp.org
ntp server 1.pool.ntp.org
ntp server 2.pool.ntp.org
{{- end }}
!
{{- if not .NoHardware }}
hardware access-list update default-result permit
!
{{- end }}
no ip access-list MAIN-CONTROL-PLANE-ACL
ip access-list MAIN-CONTROL-PLANE-ACL
   counters per-entry
   10 permit icmp any any
   20 permit ip any any tracked
   30 permit udp any any eq bfd ttl eq 255
   40 permit udp any any eq bfd-echo ttl eq 254
   50 permit udp any any eq multihop-bfd micro-bfd sbfd
   60 permit udp any eq sbfd any eq sbfd-initiator
   70 permit ospf any any
   80 permit tcp any any eq ssh telnet www snmp bgp https msdp ldp netconf-ssh gnmi
   90 permit udp any any eq bootps bootpc snmp rip ntp ldp ptp-event ptp-general
   100 permit tcp any any eq mlag ttl eq 255
   110 permit udp any any eq mlag ttl eq 255
   120 permit vrrp any any
   130 permit ahp any any
   140 permit pim any any
   150 permit igmp any any
   160 permit tcp any any range 5900 5910
   170 permit tcp any any range 50000 50100
   180 permit udp any any range 51000 51100
   190 permit tcp any any eq 3333
   200 permit tcp any any eq nat ttl eq 255
   210 permit tcp any eq bgp any
   220 permit rsvp any any
   230 permit tcp any any eq 9340
   240 permit tcp any any eq 9559
   250 permit udp any any eq 8503
   260 permit udp any any eq lsp-ping
   270 permit udp any eq lsp-ping any
   280 remark Permit TWAMP (UDP {{ .TelemetryTWAMPListenPort }})
   290 permit udp any any eq {{ .TelemetryTWAMPListenPort }}
!
system control-plane
   ip access-group MAIN-CONTROL-PLANE-ACL in
!
{{- range .Device.Interfaces }}
interface {{ .Name }}
   {{- if .IsPhysical }}
   mtu 2048
   {{- end }}
   {{- if and .IsPhysical (not .IsSubInterface) (not .IsVlanInterface) }}
   no switchport
   {{- end }}
   {{- if .VlanId}}
   encapsulation dot1q vlan {{ .VlanId }}
   {{- end }}
   {{- if .Ip.IsValid }}
   ip address {{ .Ip.Addr }}/{{ .Ip.Bits }}
   {{- end }}
   {{- if and .IsPhysical .Ip.IsValid (not .IsSubInterfaceParent) (not .IsCYOA) (not .IsDIA) }}
   pim ipv4 sparse-mode
   {{- end }}
   {{- if and .IsVpnv4Loopback .NodeSegmentIdx}}
   node-segment ipv4 index {{ .NodeSegmentIdx }}
   {{- end }}
   {{- if and .Ip.IsValid .IsLoopback }}
   isis enable 1
   {{- end }}
   {{- if and .Ip.IsValid .IsPhysical .Metric .IsLink (not .IsSubInterfaceParent) (not .IsCYOA) (not .IsDIA) }}
   isis enable 1
   isis circuit-type level-2
   isis hello-interval 1
   isis metric {{ .Metric }}
   {{- if .LinkStatus.IsHardDrained }}
   isis passive
   {{- else }}
   no isis passive
   {{- end }}
   isis hello padding
   isis network point-to-point
   {{- end }}
!
{{- end }}
interface Loopback1000
   description RP Address
   ip address 10.0.0.0/32
!
mpls ip
!
{{- if $.Device.Vpn4vLoopbackIntfName }}
mpls icmp ttl-exceeded tunneling
mpls icmp ip source-interface {{ $.Device.Vpn4vLoopbackIntfName }}{{/* This must come after interface commands for Vpn4v loopback */}}
!
{{- end }}
{{- range .Device.Tunnels }}
default interface Tunnel{{ .Id }}
{{- end }}
{{- range .Device.Tunnels }}
{{- if eq true .Allocated }}
interface Tunnel{{ .Id }}
   {{- if eq true .IsMulticast }}
   description USER-MCAST-{{ .Id }}
   {{- if not $.NoHardware }}
   {{- if and .IsMulticast (gt (len .MulticastSubscribers) 0) (eq (len .MulticastPublishers) 0) }}
   ip access-group SEC-USER-SUB-MCAST-IN in
   {{- else }}
   ip access-group SEC-USER-PUB-MCAST-IN in
   {{- end }}
   {{- end }}
   multicast ipv4 boundary SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT out
   pim ipv4 sparse-mode
   {{- if and .IsMulticast (gt (len .MulticastPublishers) 0) }}
   pim ipv4 border-router
   {{- end }}
   pim ipv4 dr-priority 4294967295
   {{- else }}
   description USER-UCAST-{{ .Id }}
   {{- if not $.NoHardware }}
   ip access-group SEC-USER-{{ .Id }}-IN in
   {{- end }}
   vrf vrf{{ .VrfId }}
   {{- end }}
   mtu 9216
   ip address {{ .OverlaySrcIP }}/31
   tunnel mode gre
   tunnel source {{ .UnderlaySrcIP }}
   tunnel destination {{ .UnderlayDstIP }}
   tunnel path-mtu-discovery
   tunnel ttl 32
   no shutdown
!
{{- end }}
{{- end }}
router bgp 65342
   router-id {{ .Device.Vpn4vLoopbackIP }}
   timers bgp 1 3
   distance bgp 20 200 200
   {{- range .Ipv4BgpPeers }}
   {{- if ne .PeerIP.String $.Device.Ipv4LoopbackIP.String }}
   no neighbor {{ .PeerIP }}
   neighbor {{ .PeerIP }} remote-as 65342
   neighbor {{ .PeerIP }} next-hop-self
   neighbor {{ .PeerIP }} update-source {{ $.Device.Ipv4LoopbackIntfName }}
   neighbor {{ .PeerIP }} description {{ .PeerName }}-ipv4
   neighbor {{ .PeerIP }} timers 3 9
   neighbor {{ .PeerIP }} send-community
   {{- end }}
   {{- end }}
   {{- range .Vpnv4BgpPeers }}
   {{- if ne .PeerIP.String $.Device.Vpn4vLoopbackIP.String }}
   no neighbor {{ .PeerIP }}
   neighbor {{ .PeerIP }} remote-as 65342
   neighbor {{ .PeerIP }} next-hop-self
   neighbor {{ .PeerIP }} update-source {{ $.Device.Vpn4vLoopbackIntfName }}
   neighbor {{ .PeerIP }} description {{ .PeerName }}-vpnv4
   neighbor {{ .PeerIP }} timers 3 9
   neighbor {{ .PeerIP }} send-community
   {{- end }}
   {{- end }}
   {{- range .Device.Tunnels }}
   {{- if and .IsMulticast .Allocated }}
   no neighbor {{ .OverlayDstIP }}
   neighbor {{ .OverlayDstIP }} remote-as 65000
   neighbor {{ .OverlayDstIP }} local-as {{ $.LocalASN }} no-prepend replace-as
   neighbor {{ .OverlayDstIP }} passive
   neighbor {{ .OverlayDstIP }} description USER-{{ .Id  }}
   neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-IN in
   neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-OUT out
   neighbor {{ .OverlayDstIP }} maximum-routes 1
   neighbor {{ .OverlayDstIP }} maximum-accepted-routes 1
   {{- if $.Device.Status.IsDrained }}
   neighbor {{ .OverlayDstIP }} shutdown
   {{- end }}
   {{- end }}
   {{- end }}
   address-family ipv4
   {{- range .Device.Tunnels }}
   {{- if and .IsMulticast .Allocated }}
      neighbor {{ .OverlayDstIP }} activate
   {{- end }}
   {{- end }}
   {{- range .Ipv4BgpPeers }}
   {{- if ne .PeerIP.String $.Device.Ipv4LoopbackIP.String }}
      neighbor {{ .PeerIP }} activate
   {{- end }}
   {{- end }}
   {{- range .Vpnv4BgpPeers }}
   {{- if ne .PeerIP.String $.Device.Vpn4vLoopbackIP.String }}
      no neighbor {{ .PeerIP }} activate
   {{- end }}
   {{- end }}
   {{- range .UnknownBgpPeers }}
      no neighbor {{ . }}
   {{- end }}
   !
   address-family vpn-ipv4
      {{- range .Vpnv4BgpPeers }}
      {{- if ne .PeerIP.String $.Device.Vpn4vLoopbackIP.String }}
      neighbor {{ .PeerIP }} activate
      {{- end }}
      {{- end }}
      {{- range .UnknownBgpPeers }}
      no neighbor {{ . }}
      {{- end }}
   !
{{- range $vrfId := .UnicastVrfs }}
   vrf vrf{{ $vrfId }}
      rd 65342:{{ $vrfId }}
      route-target import vpn-ipv4 65342:{{ $vrfId }}
      route-target export vpn-ipv4 65342:{{ $vrfId }}
      router-id {{ $.Device.PublicIP }}
      {{- range $.Device.Tunnels }}
      {{- if and .Allocated (not .IsMulticast) (eq .VrfId $vrfId) }}
      no neighbor {{ .OverlayDstIP }}
      neighbor {{ .OverlayDstIP }} remote-as 65000
      neighbor {{ .OverlayDstIP }} local-as {{ $.LocalASN }} no-prepend replace-as
      neighbor {{ .OverlayDstIP }} passive
      neighbor {{ .OverlayDstIP }} description USER-{{ .Id  }}
      neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-IN in
      neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-OUT out
      neighbor {{ .OverlayDstIP }} maximum-routes 1
      neighbor {{ .OverlayDstIP }} maximum-accepted-routes 1
      {{- if $.Device.Status.IsDrained }}
      neighbor {{ .OverlayDstIP }} shutdown
      {{- end }}
      {{- end }}
      {{- end }}
      {{- range $.UnknownBgpPeers }}
      no neighbor {{ . }}
      {{- end }}
{{- end }}
!
router isis 1
   net {{ .Device.IsisNet }}
   router-id ipv4 {{ .Device.Vpn4vLoopbackIP }}
   log-adjacency-changes
   !
   address-family ipv4 unicast
   !
   segment-routing mpls
      no shutdown
{{- if $.Device.Status.IsDrained }}
   set-overload-bit
{{- else }}
   no set-overload-bit
{{- end }}
!
ip community-list COMM-ALL_USERS permit 21682:1200
ip community-list COMM-ALL_MCAST_USERS permit 21682:1300
ip community-list COMM-{{ .Strings.ToUpper .Device.ExchangeCode }}_USERS permit 21682:{{ .Device.BgpCommunity }}
!
{{- range .Device.Tunnels }}
no route-map RM-USER-{{ .Id }}-OUT
{{- if eq true .Allocated }}
{{- if or .IsMulticast .MetroRouting }}
route-map RM-USER-{{ .Id }}-OUT deny 10
   match community COMM-{{ $.Strings.ToUpper $.Device.ExchangeCode }}_USERS
{{- end }}
route-map RM-USER-{{ .Id }}-OUT permit 20
   match community {{ if eq true .IsMulticast }}COMM-ALL_MCAST_USERS{{ else }}COMM-ALL_USERS{{ end }}
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
no route-map RM-USER-{{ .Id }}-IN
{{- if eq true .Allocated }}
route-map RM-USER-{{ .Id }}-IN permit 10
   match ip address prefix-list PL-USER-{{ .Id }}
   match as-path length = 1
   set community 21682:{{ if eq true .IsMulticast }}1300{{ else }}1200{{ end }} 21682:{{ $.Device.BgpCommunity }}
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
no ip prefix-list PL-USER-{{ .Id }}
{{- if eq true .Allocated }}
{{- if and .IsMulticast (gt (len .MulticastSubscribers) 0) (eq (len .MulticastPublishers) 0) }}
ip prefix-list PL-USER-{{ .Id }} seq 10 deny 0.0.0.0/0 le 32
{{- else }}
ip prefix-list PL-USER-{{ .Id }} seq 10 permit {{ .DzIp }}/32
{{- end }}
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
no ip access-list SEC-USER-{{ .Id }}-IN
{{- if and .Allocated (not .IsMulticast) }}
ip access-list SEC-USER-{{ .Id }}-IN
   counters per-entry
   !ICMP
   permit icmp {{ .OverlayDstIP }}/32 any
   !TRACEROUTE
   permit udp {{ .OverlayDstIP }}/32 any range 33434 33534
   !Allow TTL Exceeded for traceroute return packets
   permit icmp {{ .OverlayDstIP }}/32 any time-exceeded
   !PERMIT BGP
   permit tcp {{ .OverlayDstIP }}/32 {{ .OverlaySrcIP }}/32 eq 179
   !PERMIT USER DZ_IP as a source only
   permit ip {{ .DzIp }}/32 any
   deny ip any any
!
{{- end }}
{{- end }}
{{- range .Device.Tunnels }}
no ip access-list standard SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT
{{- if and .Allocated .IsMulticast }}
ip access-list standard SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT
   counters per-entry
   {{- range .MulticastBoundaryList }}
   permit host {{ . }}
   {{- end }}
   deny 224.0.0.0/4
!
{{- end }}
{{- end }}
no ip access-list SEC-USER-PUB-MCAST-IN
ip access-list SEC-USER-PUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   permit ip any {{ .MulticastGroupBlock }}
   deny ip any any
!
no ip access-list SEC-USER-SUB-MCAST-IN
ip access-list SEC-USER-SUB-MCAST-IN
   counters per-entry
   permit icmp any any
   permit tcp any any eq bgp
   permit ip any 224.0.0.13/32
   deny ip any any
!
{{- if .Ipv4BgpPeers }}
no router msdp
router msdp
   {{- range .Ipv4BgpPeers }}
   {{- if ne .PeerIP.String $.Device.Ipv4LoopbackIP.String }}
   peer {{ .PeerIP }}
      mesh-group DZ-1
      local-interface {{ $.Device.Ipv4LoopbackIntfName }}
      description {{ .PeerName }}
   {{- end }}
   {{- end }}
{{- end }}
