!
ip multicast-routing
!
router pim sparse-mode
   ipv4
      rp address 10.0.0.0 {{ .MulticastGroupBlock }} override
!
vrf instance vrf1
ip routing vrf vrf1
!
{{- range .Device.Tunnels }}
default interface Tunnel{{ .Id }}
{{- if eq true .Allocated }}
interface Tunnel{{ .Id }}
   {{- if eq true .IsMulticast }}
   description USER-MCAST-{{ .Id }}
   ip access-group SEC-USER-MCAST-IN in
   multicast ipv4 boundary SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT out
   pim ipv4 sparse-mode
   pim ipv4 dr-priority 4294967295
   {{- else }}
   description USER-UCAST-{{ .Id }}
   vrf vrf1
   {{- end }}
   mtu 9216
   ip address {{ .OverlaySrcIP }}/31
   tunnel mode gre
   tunnel source {{ .UnderlaySrcIP }}
   tunnel destination {{ .UnderlayDstIP }}
   tunnel path-mtu-discovery
   tunnel ttl 32
   no shutdown
{{- end }}
!
{{- end }}
router bgp 65342
   vrf vrf1
      rd 65342:1
      route-target import vpn-ipv4 65342:1
      route-target export vpn-ipv4 65342:1
      router-id {{ .Device.PublicIP }}
{{- range .Device.Tunnels }}
{{- if eq true .Allocated }}
      no neighbor {{ .OverlayDstIP }}
      neighbor {{ .OverlayDstIP }} remote-as 65000
      neighbor {{ .OverlayDstIP }} passive
      neighbor {{ .OverlayDstIP }} description USER-{{ .Id  }}
      neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-IN in
      neighbor {{ .OverlayDstIP }} route-map RM-USER-{{ .Id }}-OUT out
      neighbor {{ .OverlayDstIP }} maximum-routes 1
      neighbor {{ .OverlayDstIP }} maximum-accepted-routes 1
{{- end }}
{{- end }}
{{- range .UnknownBgpPeers }}
      no neighbor {{ . }}
{{- end }}
!
ip community-list COMM-ALL_USERS permit 21682:1200
ip community-list COMM-ALL_MCAST_USERS permit 21682:1300
!
{{- range .Device.Tunnels }}
no route-map RM-USER-{{ .Id }}-OUT
{{- if eq true .Allocated }}
route-map RM-USER-{{ .Id }}-OUT permit 10
   match community {{ if eq true .IsMulticast }}COMM-ALL_MCAST_USERS{{ else }}COMM-ALL_USERS{{ end }}
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
no route-map RM-USER-{{ .Id }}-IN
{{- if eq true .Allocated }}
route-map RM-USER-{{ .Id }}-IN permit 10
   match ip address prefix-list PL-USER-{{ .Id }}
   match as-path length = 1
   set community 21682:{{ if eq true .IsMulticast }}1300{{ else }}1200{{ end }}
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
no ip prefix-list PL-USER-{{ .Id }}
{{- if eq true .Allocated }}
ip prefix-list PL-USER-{{ .Id }} seq 10 permit {{ .DzIp }}/32
{{- end }}
!
{{- end }}
{{- range .Device.Tunnels }}
{{- if eq true .IsMulticast }}
no ip access-list standard SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT
ip access-list standard SEC-USER-MCAST-BOUNDARY-{{ .Id }}-OUT
   counters per-entry
   {{- range .MulticastSubscribers }}
   permit host {{ . }}
   {{- end }}
   deny 224.0.0.0/4
!
{{- end }}
{{- end }}
no ip access-list SEC-USER-MCAST-IN
ip access-list SEC-USER-MCAST-IN
   counters per-entry
   permit ip any {{ .MulticastGroupBlock }}
   deny ip any any
!
