[Unit]
Description=DoubleZero controller
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
ExecStart=/usr/local/bin/doublezero-controller start -listen-addr 0.0.0.0 -listen-port 7000
PIDFile=/var/run/doublezero-controller
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
