name: end-to-end
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    defaults:
      run:
        working-directory: "e2e/"
    runs-on: self-hosted
    timeout-minutes: 15
    permissions:
      packages: read
      contents: read
    env:
      BUILDKIT_PROGRESS: plain
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Login to docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build
        run: make build
      - name: test
        run: make test verbose
