name: flow pipeline schema migrations
on:
  push:
    paths:
      - "telemetry/flow-enricher/clickhouse/**"
    branches: [ main, 'hotfix/**' ]
  pull_request:
    paths:
      - "telemetry/flow-enricher/clickhouse/**"
    branches: [ main, 'hotfix/**' ]

jobs:
  validate:
    name: schema:validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest
      - name: validate
        working-directory: "telemetry/flow-enricher/clickhouse/"
        run: goose validate
  status:
    name: schema:status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest
      - name: status
        working-directory: "telemetry/flow-enricher/clickhouse/"
        run: goose status
        env:
          GOOSE_DRIVER: "clickhouse"
          GOOSE_DBSTRING: ${{ secrets.GOOSE_DBSTRING }}
  migrate:
    name: schema:migrate
    needs: [ validate, status ]
    runs-on: ubuntu-latest
    environment: testnet
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest
      - name: migrate
        working-directory: "telemetry/flow-enricher/clickhouse/"
        run: goose up
        env:
          GOOSE_DRIVER: "clickhouse"
          GOOSE_DBSTRING: ${{ secrets.GOOSE_DBSTRING }}
