name: canary.devnet

on:
  workflow_call:
  workflow_dispatch:

jobs:
  qa:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true
      - run: go test -tags=qa -v ./e2e -run TestQA_AllDevices_UnicastConnectivity --args -hosts=chi-dn-bm2,chi-dn-bm3 -env devnet -skip-capacity-check
