name: canary.testnet

on:
  workflow_call:
  workflow_dispatch:

jobs:
  qa:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true
      - run: go test -tags=qa -v ./e2e -run TestQA_AllDevices_UnicastConnectivity --args -hosts=sfo-tn-qa01,nyc-tn-qa01,fra-tn-qa01,sgp-tn-qa01 -env testnet -skip-capacity-check
